@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap&subset=cyrillic');
body{
  font-family: "russo one", helvetica, sans-serif;
}
header{
  background-image: url(./img/pool.jpg);
width: 100vw;
height: 100vh;
}
header nav{
  font-size: 18px;
  margin: 36px, 156px auto, 156px;
  color: white;
}
nav ul li{
  display: inline-block;
  text-align: center;
  sjustify-content: space-between;
  background-color: rgba( 186, 186, 186, 0.7);
  width: 215px;
  height: 55px;
  list-style: none;
  text-align: center;
  /* padding: 16px 71px 16px 71px; */
}
header h1{
  font-size: 144px;
  color: white;
  margin: 0, auto;
}
header p:last-child{
  font-family: helvetica;
  font-size: 18px;
}
header h1 em{
  font-family: helvetica;
  font-weight: bold;
  color: #881520;
}
