@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap&subset=cyrillic');
:root{
  --blue: #09288D;
}

body{
  font-family: "russo one", helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  letter-spacing: 1.5px;
}
h4{
font-family: "russo one", helvetica, sans-serif;
}
header .adress img{
  display: none;
}
br{
  display: none;
}
header{
  background-image: url(./img/pool.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}
header nav{
  margin-left: -80px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

nav ul li{
  margin-top: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 50px;
  display: inline-block;
  justify-content: space-around;
  background-color: rgba( 186, 186, 186, 0.7);
  width: 215px;
  height: auto;
  color: #fff;
  list-style: none;
  text-align: center;
}
nav ul li:hover{
background-color: var(--blue);
transition: 0.1s ease-out;
}
nav .mask img{
  display: none;
}
header h1{
  text-align: center;
  font-size: 8vw;
  color: white;
  margin: 0, auto;
  margin-top: 140px;
}
header p:last-child{
  font-family: helvetica;
  font-size: 18px;
}
header h1 em{
  font-family: helvetica;
  font-weight: bold;
  color: #B21321;
}
header h1 + p span{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 1px;
  color: #FFF;
  text-align: center;
}
header .adress span{
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: helvetica;
  font-size: 22px;
  line-height: 30px;
  font-weight: lighter;
  margin-left: 40px;
}
.low-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.arrow{
  position: absolute;
  left: 650px;
  padding-top: 50px;
}
header .media{
  margin-right: 40px;
}
 header .media img{
   max-height: 25px;
  margin-top: 50px;
  padding: 10px;
}
header .media img:hover{
  /* width: 30px;
  height: 30px;
  transition: 0.7s ease; */

}
.info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.about{
  margin-left: -20vw;
}
.about h2{
  font-size: 64px;
  line-height: 10px;

}
.about p{
  font-size: 22px;
  font-family: helvetica;
  width: 510px;
  padding-bottom: 30px;
}
.about .line{
  width: 200px;
  border-bottom: 1px solid #000;
}
.about p a {
  text-decoration: none;
  color: #BABABA;
}
.about p a:hover {
  color: #0D9383;
  cursor: pointer;
}
.about ul{
  margin-top: 40px;
  list-style: none;
  font-family: helvetica;
  font-size: 22px;
  width: 570px;
  margin-left: -40px;
}

.about .contacts{
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contacts img{
  margin-left: 40px;
  width: 150px;
  height: 150px;
}
.contacts ul{
  line-height: 30px;
  list-style: none;
  font-family: helvetica;
}
.contacts h2{
  font-family: "russo one";
  font-size: 24px;
  line-height: 10px;
}
.contacts li + a{
  line-height: 70px;
    letter-spacing: 0.7px;
  text-decoration: none;
  font-family: "russo one";
  color: #fff;
  background-color: var(--blue);
  border-radius: 12px;
  width: 215px;
  height: 55px;
  padding: 13px;

}


.news h2{
  font-size: 64px;
  margin-left: 11vw;
}
.news a{
  text-decoration: none;
  color: #000;
}
.news p{
  font-family: helvetica;
  margin-top: 30px;
}
.articles{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.news_1, .news_2, .news_3{
  margin-left: 24px;
  margin-top: 20px;
  padding: 40px 35px 40px 35px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  width: 280px;
  min-height: 450px;
}
.news img{
width: 280px;
height: auto;
}
.news h4{
  margin-top: 0px;
  font-size: 24px;
  letter-spacing: 0.7px;
}
.news_1:hover, .news_2:hover, .news_3:hover{
  box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-out;
}


.sport h2{
  font-size: 64px;
}
.sport-head a h2{
  scroll-behavior: smooth;
}
.sport_head{
  margin: 20px 60px 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sport_head img{
  max-height: 100px;
}
.sport_body{
  font-family: helvetica;
  font-size: 22px;
  margin-left: 160px;
}
.sport_body p:first-child{
  width: 900px;
}
.sport_body p:last-child{
  margin-top: 20px;
  width: 420px;
}
.sport .sport_gal{
  position: absolute;
}
.sport_gal img:hover{
  transform: scale(1.03);
  transition: 0.6s ease-in-out;
}
.sport_gal img:first-child:hover{
  transform: none;
}
.sport_gal .mount{
  position: absolute;
  left: 90px;
  margin-top: -220px;
  width: 1250px;
  height: 615px;
}
.sport_gal .velo{
position: absolute;
left: 525px;
width: 812px;
height: 812px;
}
.sport_gal .pool{
position: absolute;
top: 270px;
left: 80px;
width: 490px;
height: 490px;
}
.sport_gal .workout{
position: absolute;
top: 570px;
left: 200px;
width: 812px;
height: 812px;
}
.sport_gal .ball{
position: absolute;
top: 650px;
left: 960px;
width: 390px;
height: 390px;
}
.sport_gal .tennis{
position: absolute;
top: 1030px;
left: 710px;
width: 690px;
height: 690px;
}
.sport_gal .box{
position: absolute;
top: 1200px;
left: 50px;
width: 490px;
height: 490px;
}
.sport_gal .zal{
position: absolute;
top: 1400px;
left: 400px;
width: 550px;
height: 550px;
}

.peeps{
  position: relative;
  top: 2000px;
}
.coaches {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 70px;
}
.peeps img{
  width: 150px;
  height: 150px;
}
.peeps h2{
  font-size: 64px;
  margin-left: 170px;
}
.peeps h4{
  font-size: 20px;
  width: 150px;
  line-height: 25px;
  margin-bottom: 0px;
  letter-spacing: 0.7px;
}
.peeps p{
  font-family: helvetica;
  width: 200px;
}
.coaches a{
  line-height: 70px;
  text-decoration: none;
  font-family: "russo one";
  background-color: var(--blue);
  color: #fff;
  border-radius: 12px;
  padding: 13px 48px 13px 48px;
  letter-spacing: 0.7px;
}


.trails{
  position: relative;
  top: 2000px;
}
.trails h2{
  margin-left: 170px;
  position: relative;
  font-size: 64px;
}
.trails img:first-child{
    margin-left: -30px;
}
.trails img:last-child{
    margin-right: 15px;
}
.trails img{
  height: 500px;
  width: auto;
  margin-left: 15px;
  z-index: 1;
}
.trails ul img:nth-of-type(2):hover{
  left: -240px;
}
.trails ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  width: 1460px;
  position: absolute;
}
.arrows img{
  position: absolute;
  width: 40px;
  height: auto;
  z-index: 2;
}
.arrows img:first-child{
  opacity: 0;
  top: 350px;
  left: 60px;
}
.arrows img:last-child{
  background-color: rgba(0, 0, 0, 0);
  padding: 13px 26px 13px 26px;
  border-radius: 100%;
  top: 350px;
  left: 1330px;
}
.arrows img:last-child:hover{
background-color: rgba(0, 0, 0, 0.08);
padding: 13px 26px 13px 26px;
border-radius: 100%;
transition: 0.2s ease-in-out;
}


footer{
  position: relative;
  top: 2600px;
  padding-bottom: 70px;
}
footer .media{
  margin-left: 100px;
}
 .insta a, .fb a, .yt a{
  display: flex;
  align-items: center;
  flex-direction: row;

}
footer .media a img{
  height: 41px;
  width: auto;
  padding-right: 30px;
}
footer .media a{
  text-decoration: none;
  color: #666666;
  font-family: helvetica;
  font-size: 22px;
  padding-top: 20px;
}
footer a p{
  padding-bottom: -20px;
}
footer a:hover{
  text-decoration: underline;
}
footer .mmm img{
  height: 360px;
}
 .mmm + a img{
  width: 75px;
  height: auto;
  margin-left: 10vw;
}
 .mmm + a img:hover{
   background-color: rgba(102, 102, 102, 0.2);
   border-radius: 100%;
   transition: 0.15s ease;
 }
footer .mmm img{
  height: 360px;
}
.gory{
  display: flex;
  flex-direction: row;
  align-items: center;
}


@media (max-width: 1280px) {
  header .adress{
    margin-top: -100px;
  }
  header .low-line .media img{
   margin-top: -200px;
 }

 header .arrow{
   display: none;
 }
 header h1{
   margin-top: 50px;
 }
 .news_1, .news_2, .news_3{
   width: 250px;
   min-height: 350px;
 }
 .news img{
   width: 250px;
 }

 .about{
   margin-left: -200px;
 }

.sport_body p{
  font-size: 20px;
}
 .sport_gal .mount{
   top: 50px;
   left: 120px;
   width: 1038px;
   height: 486px;
 }
 .sport_gal .velo{
 left: 500px;
 width: 619px;
 height: 619px;
 }
 .sport_gal .pool{
 top: 200px;
 left: 125px;
 width: 430px;
 height: 430px;
 }
 .sport_gal .workout{
 top: 450px;
 left: 270px;
 width: 620px;
 height: 620px;
 }
 .sport_gal .ball{
 top: 485px;
 left: 840px;
 width: 333px;
 height: 333px;
 }
 .sport_gal .tennis{
 top: 795px;
 left: 670px;
 width: 500px;
 height: 500px;
 }
 .sport_gal .box{
 top: 885px;
 left: 115px;
 width: 430px;
 height: 430px;
 }
 .sport_gal .zal{
 top: 1070px;
 left: 435px;
 width: 409px;
 height: 409px;
 }

 .peeps{
   top: 1500px;
 }
 .trails{
   top: 1500px;
 }
 footer{
   position: relative;
   top: 2060px;
 }
}
@media (max-width: 768px) {
  header{
    height: 170%;
  }
header nav ul li{
  margin-top: 20px;
  font-size: 16px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}
header h1{
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 55px;
  margin-top: 10px;
}

header h1 + p span{
  font-size: 16px;
  font-weight: lighter;
  margin-top: -25px;
  text-align: center;
  line-height: 20px;
}
header h1 + p span:nth-last-of-type(2){
  display: none;
}
header h1 + p span:last-child{
  display: none;
}
br{
  display: inline;
}
header .adress p{
  display: none;
}
 header .adress img{
   display: inherit;
   margin-top: 65px;
   margin-left: 5vw;
   animation: bounce 1s ease  infinite;
 }
 .low-line{
 margin-top: -25px;
 }
 @keyframes bounce {
0%{
margin-top: 65px;
}
50%{
  margin-top: 55px;
}
100%{
  margin-top: 65px;
}
 }
 header .adress img:hover{
animation: none;
}
 .about{
   margin-left: 100px;
 }
 .about h2{
  font-size: 48px;
}
.about p, .about ul{
  font-size: 18px;
}
.about p{
  margin-bottom: -10px;
}
.about ul{
  margin-top: 15px;
}

.contacts{
  margin-top: 20px;
  margin-left: -70px;
}
.contacts img{
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
  height: auto;
}
.contacts ul h2{
  font-size: 18px;
}
.contacts ul li{
  line-height: 20px;
}
.contacts a{
  font-size: 12px;
  font-weight: lighter;
}
.info{
  justify-content: space-between;
}
}

@media (max-width: 414px) {

header{
  background-image: url(./img/pool_1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
header h1{
  font-size: 10vw;
  line-height: 40px;
}
header h1 + p span{
  font-size: 14px;
  line-height: 16px;
  padding-top: 20px;
}
header nav ul{
  display: none;
}
nav .mask{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(186, 186, 186, 0.7);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  width: 300px;
  height: 50px;
}
nav .mask img{
  max-height: 25px;
  width: auto;
  padding: 20px;
}
header .adress img{
 max-height: 32px;
}
header .low-line {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
header .media {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-right: 15px;
}
header .media img{
 max-height: 12px;
}
.about{
  margin-left: 0px;
}
.about a h2{
  font-size: 36px;
  margin-left: 25px;
}
.about p, li{
  font-size: 16px;
  margin-left: 25px;
  width: 330px;
}
.about .line {
  margin-left: 25px;
  width: 120px;
}
.contacts{
margin-top: 400px;
margin-left: -600px;
position: relative;
display: flex;
flex-direction: row;
justify-content:

}
.contacts img{
  width: 90px;
  height: 90px;
}
.contacts ul{
padding: 0;
margin: 0;
}
.contacts ul li a{
  margin: 0;
  text-decoration: none;
  font-weight: 400;
  color: #000;
  font-size: 14px;
}

.contacts ul li a:hover {
  color: #0D9383;
}
.contacts ul li{
  margin: 0;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.contacts h2{
  display: none;

}


.news h2{
  font-size: 36px;
  margin:  0px auto 0px 25px;
}

.news .news_1, .news .news_2, .news .news_3 {
  width: 250px;
  height: 500px;
}
.news .articles{
  margin-left: 200px;
  overflow-x: scroll;
}

}
